<div class="container">
 <div class="row">
  <div class="col-sm-2 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h4">マイページ</th>
    </thead>
   </table>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-4 mt-3">
   <span class = "h5 text-dark"><b>登録情報</b></span>
  </div>
  <div class="col-sm-4 mt-3"><%= link_to "編集する", edit_customer_path, class: "btn btn-success btn-sm mt-2 mb-2" %></div>
 </div>
 
 <div class="row">
  <div class="col-sm-6">
   <table class="table table-bordered">
    <tbody>
     <tr>
      <td class="table-active">氏名</td>
      <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
     </tr>
     <tr>
      <td class="table-active">カナ</td>
      <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
     </tr>
     <tr>
      <td class="table-active">郵便番号</td>
      <td><%= @customer.postal_code %></td>
     </tr>
     <tr>
      <td class="table-active">住所</td>
      <td><%= @customer.address %></td>
     </tr>
     <tr>
      <td class="table-active">電話番号</td>
      <td><%= @customer.telephone_number %></td>
     </tr>
     <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
     </tr>
　  </tbody>
　 </table>
　</div>
 </div>

 <div class="row">
  <div class="col-sm-1 mt-2">配送先</div>
  <div class="col-sm-2 mt-2"><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm mt-2 mb-2" %></div>
 </div>
 <div class="row">
  <div class="col-sm-1 mt-2">注文履歴</div>
  <div class="col-sm-2 mt-2"><%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm mt-2 mb-2" %></div>
 </div>

</div>