<div class="container">
  <div class="col-sm-12 mt-3">
   <span class = "h3 bg-secondary text-dark">商品新規登録</span>

<%= form_with model: @item, url: admin_items_new_path, local: true do |f| %>
<p><%= f.label :item_image, "商品画像" %>
   <%= f.file_field :item_image, accept: "image/*" %></p>
<p><%= f.label :name, "商品名" %>
   <%= f.text_field :name %></p>
<p><%= f.label :introduction, "商品説明" %>
   <%= f.text_area :introduction %></p>
<p><%= f.label :genre, "ジャンル" %>
   <%= f.collection_select :genre_id, Genre.all, :id, :name, option = { include_blank: false } %>
<p><%= f.label :price, "税抜価格" %>
   <%= f.text_field :price %>円</p>
<p><%#= f.label :introduction, "販売ステータス" %>
   <%#= f.text_area :introduction %></p>
  <%= f.submit "新規登録" %>
<% end %>

</div>
</div>