<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <span class = "h5 text-dark">商品詳細</span>
  </div>
 </div>
 
 <div class="row">
  <div class="col-sm-4 mt-3">
    <% if @item.image.attached? %>
     <%= image_tag @item.image, size: "200x200" %>
    <% else %>
     <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  </div>
  <div class="col-sm-4 mt-3">
   <table class="table table-borderless">
    <tbody>
     <tr>
      <td>商品名</td>
      <td><%= @item.name %></td>
     </tr>
     <tr>
      <td>商品説明</td>
      <td><%= @item.introduction %></td>
     </tr>
     <tr>
      <td>ジャンル</td>
      <td><%= @item.genre_id %></td>
     </tr>
     <tr>
      <td>税込価格<br>(税抜価格)</td>
      <td><%= @item.price %></td>
     </tr>
     <tr>
      <td>販売ステータス</td>
      <td><%= @item.price %></td>
     </tr>
     <tr>
      <td></td>
      <td><%= link_to "編集する", edit_admin_item_path, class: "btn btn-success btn-lg mt-2 mb-2" %></td>
     </tr>
    </tbody>
   </table>
  </div> 
 </div>
</div>
