<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <span class = "h5 text-dark">管理者ログイン</span>
  </div>
 </div>
 
 <br>

<%= form_with model: @admin, url: admin_session_path,  local: true do |f| %>
 <div class="row">
  <div class="col-3"></div>
  <div class="col-2 mt-auto mx-left" style="width: 200px;">
   <%= f.label :email, "メールアドレス" %>
  </div>
  <div class="col-4 mx-left" style="width: 200px;">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%#placeholder="sample@example"%>
  </div>
 </div>

 <br>

 <div class="row">
  <div class="col-3"></div>
  <div class="col-2 mt-auto mx-left">
    <%= f.label :password, "パスワード" %>
  </div>
  <div class="col-4 mx-left">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
 </div>

 <br>

 <div class="row">
  <div class="col-3"></div>
  <div class="col-2"></div>
  <div class="col-2 mx-left">
    <%= f.submit "ログイン", class: "btn btn-primary btn-sm btn-block mt-2 mb-2" %>
  </div>
 </div>
 <% end %>
<%= render "admin/shared/links" %>
</div>