<div class="container">
 <div class="row"> 
  <div class="col-sm-12 mt-3">
   <span class = "h5 text-dark">会員一覧</span>
  </div>
 </div>
 
 <div class="row">
  <div class="col-sm-12 mt-3">
   <table class = "table table-borderless">
    <thead class = "thead-light">
     <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>   
    </thead>
    <tbody>
     <% @customers.each do |customer| %>
     <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.last_name, admin_customer_path(customer.id) %><%#= customer.last_name %><%= customer.first_name %></td>
      <td><%= customer.email %></td>
      <td><%= customer.is_active %></td>
     </tr>
     <% end %>
    </tbody>
   </table>

ページネーションが入るよ