<div class="container">
 <div class="col-sm-12 mt-3">
 <span class = "h2 bg-secondary text-dark">会員一覧</span>
 <table class = "table table-borderless">
  <thead class = "thead-light">
   <tr>
    <td>会員ID</td>
    <td>氏名</td>
    <td>メールアドレス</td>
    <td>ステータス</td>
   </tr>   
  </thead>
  <tbody>
   <% @customers.each do |customer| %>
   <tr>
    <td><%= customer.id %></td>
    <td><%= link_to customer.last_name, admin_customer_path(customer.id) %><%#= customer.last_name %><%= customer.first_name %></td>
    <td><%= customer.email %></td>
    <td><%= customer.is_active %></td>
   </tr>
   <% end %>
  </tbody>
 </table>

ページネーションが入るよ