<div class="container">
  <div class="col-sm-12 mt-3">
   <span class = "h3 bg-secondary text-dark">注文履歴詳細</span>
<table>
 <tbody>
  <% @orders.each do |order| %>
  <tr>
   <td>購入者</td>
   <td><%= order.name %></td>
  </tr>
  <tr>
   <td>注文日</td>
   <td><%= order.created_at %></td>
  </tr>
  <tr>
   <td>配送先</td>
   <td><%= order.address %></td>
  </tr>
  <tr>
   <td>支払方法</td>
   <td><%= order.payment_method %></td>
  </tr>
  <tr>
   <td>注文ステータス</td>
   <td>保留<%#= order_detail.??? %></td>
  </tr>
  <% end %>
 </tbody>
</table>

<table>
 <thead>
  <tr>
   <td>商品名</td>
   <td>単価（税込）</td>
   <td>数量</td>
   <td>小計</td>
   <td>製作ステータス</td>
   <td></td>
  </tr>   
 </thead>
 <tbody>
  
  <tr>
     <% @order_details.each do |order_detail| %>
   <td><%= order_detail.order_id %></td>
   <td><%= order_detail.price %></td>
   <td><%= order_detail.amount %></td>
   <td><%= order_detail.price %></td>
   <td><%#= order_detail.??? %></td>
   <td><% link_to "更新", admin_orders_detail_path %></td>
  </tr>
  <% end %>
 </tbody>
</table>

<tabel>
 <tbody>
  <tr>
    <td>商品合計</td>
    <td>小計の合計やで</td>
  </tr>
  <tr>
    <td>送料</td>
    <td>送料やで</td>
  </tr>
  <tr>
    <td>請求金額合計</td>
    <td>小計と送料の合計やで</td>
  </tr>
 </tbody>
</table>
</div>
</div>
   