<div class="container">

 <div class="row">
  <div class="col-sm-2 mt-3">
   <table class ="table-sm table-borderless">
    <thead>
     <th class="table-active h5">注文履歴詳細</th>
    </thead>
   </table>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-5 mt-3">
   <table class ="table table-borderless">
    <tbody>
     <tr>
      <td><b>購入者</b></td>
      <td><%= @order.customer.full_name %></td>
     </tr>
     <tr>
      <td><b>注文日</b></td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
     </tr>
     <tr>
      <td><b>配送先</b></td>
      <td><%= @order.address %></td>
     </tr>
     <tr>
      <td><b>支払方法</b></td>
      <td><%= @order.payment_method_i18n %></td>
     </tr>
     <tr>
      <td><b>注文ステータス</b></td>
      <td>
       <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local:true do |f| %>
       <%= @order.is_active_i18n %><%= f.select :order, :is_active, ["入金待ち", "入金確認","製作中","発送準備中","発送済み"] %>
       <%= f.submit "更新", class: "btn btn-success btn-sm mt-2 mb-2" %>
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-8 mt-3">
   <table class ="table table-borderless">
    <thead class = "thead-light">
     <tr class = "is_active">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
     </tr>
    </thead>
    <tbody>
     <% @order_details.each do |order_detail| %>
     <% @price = order_detail.price %>
     <% @amount = order_detail.amount %>
     <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= @price.to_s(:delimited) %></td>
      <td><%= @amount %></td>
      <td><%= (@price *= @amount).to_s(:delimited) %></td>
      <td>
       <%= order_detail.is_active %>
       <%#= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local:true do |f| %>
       <%#= f.select :is_active, ["製作不可", "製作待ち", "製作中", "製作完了"] %>
       <%#= f.submit "更新", class: "btn btn-success btn-sm mt-2 mb-2" %>
       <%# end %></td>
      <td><%= link_to "更新", admin_orders_detail_path, class: "btn btn-success btn-sm mt-2 mb-2" %></td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
  <div class="col-sm-4 mt-3">
   <table class ="table table-borderless">
    <tbody>
     <tr>
       <td><b>商品合計</b></td>
       <td>
        <% @billing_amount = @order.billing_amount %>
        <%= @billing_amount.to_s(:delimited) %>円
       </td>
     </tr>
     <tr>
       <td><b>送料</b></td>
       <td>
        <% @postage = @order.postage %>
        <%= @postage %>円
       </td>
     </tr>
     <tr>
       <td><b>請求金額合計</b></td>
       <td><%= (@billing_amount += @postage).to_s(:delimited) %>円</td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
