<h2>配送先登録/一覧</h2>
<%= form_with model: @address, local:true do |f| %>
 <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
 <%= f.text_field :postal_code %><br>
 <%= f.label :address, "住所" %>
 <%= f.text_field :address %><br>
 <%= f.label :name, "宛名" %>
 <%= f.text_field :name %>
 <%= f.submit "新規登録" %>
<% end %>

<table>
 <thead>
  <tr>
   <td>郵便番号</td>
   <td>住所</td>
   <td>宛名</td>
   <td></td>
  </tr>
 </thead>
 <tbody>
  <% @addresses.each do |addresses| %>
  <tr>
   <td><%= addresses.postal_code %></td>
   <td><%= addresses.address %></td>
   <td><%= addresses.name %></td>
   <td><%#= link_to "編集する", edit_address_path %><%#= link_to "削除する", ??? %></td>
  </tr>
  <% end %>
 </tbody>
</table>
