<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h5">注文履歴一覧</th>
    </thead>
   </table>
  </div>
 </div>

<div class="row">
  <div class="col-sm-12 mt-3">
   <table class="table table-bordered">
    <thead>
     <tr>
      <th class="table-active">注文日</th>
      <th class="table-active">配送先</th>
      <th class="table-active">注文商品</th>
      <th class="table-active">支払金額</th>
      <th class="table-active">ステータス</th>
      <th class="table-active">注文詳細</th>
     </tr>
    </thead>
    <tbody>
     <% @orders.each do |order| %>
     <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td>
       〒<%= order.postal_code %><br>
       <%= order.address %><br>
       <%= order.name %>
      </td>
      <td><%#= order_detail.item.name %></td>
      <td><%= order.billing_amount.to_s(:delimited) %>円</td>
      <td><%#= order_detail.is_active %></td>
      <td><%= link_to "表示する", order_path(current_customer.id), class: "btn btn-primary btn-sm mt-2 mb-2" %></td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>