<div class="container">
 <div class="row">
  <div class="col-sm-12 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h5">注文履歴一覧</th>
    </thead>
   </table>
  </div>
 </div>
 
<div class="row">
  <div class="col-sm-12 mt-3">
   <table class="table table-bordered">
    <thead>
     <tr>
      <th class="table-active">注文日</th>
      <th class="table-active">配送先</th>
      <th class="table-active">注文商品</th>
      <th class="table-active">支払金額</th>
      <th class="table-active">ステータス</th>
      <th class="table-active">注文詳細</th>
     </tr>
    </thead>
    <tbody>
     <% @order_details.each do |order_detail| %>
     <tr>
      <td><%= order_detail.created_at %></td>
      <td><%= order_detail.order.address %></td>
      <td><%= order_detail.item.name %></td>
      <td><%= number_to_currency(order_detail.price, strip_insignificant_zeros: true) %></td>
      <td>ステータス（保留）</td>
      <td><%= link_to "表示する", order_path(@order), class: "btn btn-primary btn-sm mt-2 mb-2" %></td>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>