<div class="container">

 <div class="row">
  <div class="col-sm-6 mt-3">
   <table class = "table-sm table-borderless">
    <thead>
     <th class="table-active h5">注文情報入力</th>
    </thead>
   </table>
  </div>
 </div>

 <%= form_with model: @order, url: confirm_path, local:true do |f| %>
 <div class="row">
  <div class="col-sm-2 mt-3 h4">
   <b>支払方法</b>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-2">
   <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
   <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-2">
   <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
   <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
  </div>
 </div>

 <div class="row">
  <div class="col-sm-2 mt-3 h4">
   <b>お届け先</b>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-2">
   <%= f.radio_button :select_address, Order.select_addresses.key(0) %>
   <%= f.label :select_address, Order.select_addresses_i18n[:self_address] %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
  〒<%= @order.postal_code %>　<%= @order.address %><br>
  <%= @order.name %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-4">
   <%= f.radio_button :select_address, Order.select_addresses.key(1) %>
   <%= f.label :select_address, Order.select_addresses_i18n[:registered_address] %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
  <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-4">
   <%= f.radio_button :select_address, Order.select_addresses.key(2) %>
   <%= f.label :select_address, Order.select_addresses_i18n[:new_address] %>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
  <div class="col-sm-3"><%= f.text_field :postal_code, class: "form-control" %></div>
 </div>
 <div class="row mt-3">
  <div class="col-sm-1"></div>
  <div class="col-sm-3"><%= f.label :address, "住所" %></div>
  <div class="col-sm-8"><%= f.text_field :address, class: "form-control" %></div>
 </div>
 <div class="row mt-3">
  <div class="col-sm-1"></div>
  <div class="col-sm-3"><%= f.label :name, "宛名" %></div>
  <div class="col-sm-3"><%= f.text_field :name, class: "form-control" %></div>
 </div>

 <div class = "row">
  <div class ="col-sm-12 mt-3 d-flex justify-content-center">
   <%= f.submit "確認画面へ進む", class: "btn btn-primary btn-sm mt-2 mb-2" %>
  </div>
 </div>

  <% end %>

</div>