<div class="container">
 <div class="col-sm-6 mt-3">
   <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "100x100" %>
   <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
   <% end %>
 </div>

 <div class="row">
  <div class="col-sm-6 mt-3 h3"><b><%= @item.name %></b></div>
 </div>
 <div class="row">
  <div class="col-sm-6 mt-3"><%= @item.introduction %></div>
 </div>
 <div class="row">
  <div class="col-sm-6 mt-3"><b><%= @item.price %></b></div>
 </div>

<%#= 個数を選択 %>

<%= link_to "カートに入れる", cart_items_path, class: "btn btn-success btn- mb-2" %>
</div>